.user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px dashed #232323;
  padding: 15px;
}

.user-card img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.btn-grp {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-grp button {
  padding: 6px 15px;
  cursor: pointer;
  font-size: 13px;
  border-radius: 25px;
  font-weight: 500;
}

.btn-grp .terminate-btn {
  background-color: red;
  color: white;
}

.admin-sign {
  padding: 6px 15px;
  border-radius: 25px;
  background: #146ebe;
}

/* Responsive */
@media screen and (max-width: 700px) {
  .btn-grp {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .user-card {
    padding: 10px;
  }
  .user-card p {
    font-size: 14px;
  }
  .user-card img {
    width: 60px;
    height: 60px;
  }
}
