.cart-calculation h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.calculate-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.each-info {
  border-bottom: 1px dashed #ddd;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-2 {
  width: 200px;
  text-align: center;
  display: block;
  background-color: #eebf0e;
  color: #000;
  margin: 2rem auto;
  padding: 10px 15px;
  font-weight: 400;
  cursor: pointer;
}
.btn-2-disabled {
  width: 200px;
  text-align: center;
  display: block;
  background-color: #9f997f;
  color: #a6a6a6;
  margin: 2rem auto;
  padding: 10px 15px;
  font-weight: 400;
  cursor: not-allowed;
}

@media screen and (max-width: 600px) {
  .cart-btn {
    margin: 2rem auto;
  }
}
