.service-summary {
  color: #9cadb9;
  background-color: #1e1e27;
}

.service-summary-container {
  height: 200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.each-service-summary {
  height: 90%;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  padding: 20px;
  border-right: 1px solid #565656;
}

.each-service-summary i {
  font-size: 33px;
}

.each-service-summary p {
  font-size: 15px;
}

.each-service-summary p small {
  font-size: 12px;
}

.each-service-summary:last-child {
  border-right: none;
}

/* Responsive */
@media screen and (max-width: 1150px) {
  .service-summary-container {
    width: 90%;
    height: auto;
    padding: 15px 0 15px 0;
  }
  .each-service-summary {
    border: none;
    flex-direction: column;
    text-align: center;
  }
  .service-summary-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .service-summary-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
