.my-order .order-preview {
  border: none;
  padding: 0;
  gap: 1rem;
}

/* .my-order .order-preview .each-row {
    gap: 2rem;
  } */

span.my-order-divider {
  border: 0.4px solid #2b2b2b;
  display: block;
  background: #2b2b2b;
  margin-top: 2rem;
}

span.img-row img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

span.img-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.button-grp {
  display: flex;
  align-items: center;
  gap: 2rem;
}

p.confirm-text {
  margin: 2rem 0;
  color: #06b20a;
}

/* Responsive */
@media screen and (max-width: 950px) {
  .button-grp {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .confirm-order-btn {
    gap: 0;
  }
}
