.footer {
  background-color: #1e1e27;
}

.footer-container {
  width: 85%;
  margin: 0 auto;
  padding: 3rem 0;
}

.footer-link {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
}

.footer-link img {
  width: 100px;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.links a,
.privacy a {
  color: #9cadb9;
  font-size: 15px;
  font-weight: 300;
}
.copyright-privacy {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright-privacy p {
  color: #9cadb9;
  font-size: 15px;
  font-weight: 300;
}
.privacy {
  display: flex;
  gap: 4rem;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .footer-link {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .footer-link {
    grid-template-columns: repeat(1, 1fr);
  }
  .copyright-privacy {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
