.upper-nav {
  background: #1e1e27;
  padding: 5px 0;
}
.upper-nav p {
  font-size: 13px;
  color: #000;
}
.marquee-cus {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee-cus p {
  color: #9cadb9;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
