* {
  margin: 0;
}

.banner-main {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.781),
      rgba(0, 0, 0, 0.781)
    ),
    url("../../assets/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.banner-container {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  height: 80%;
}

.banner-container p {
  font-size: 13px;
}

.banner-container h1 {
  font-size: 4rem;
  text-align: center;
  line-height: 80px;
}

.btn {
  padding: 10px 20px;
  color: #eebf0e;
  background-color: #000;
  border: 1px solid #eebf0e;
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn i {
  font-size: 17px;
}

.btn:hover {
  background: #eebf0e;
  color: #000;
  border: 1px solid #000;
}

/* Responsive Design start Here */
@media screen and (max-width: 1150px) {
  .banner-container h1 {
    font-size: 3.5rem;
  }
  .banner-main {
    height: 90vh;
  }
}

@media screen and (max-width: 800px) {
  .banner-container h1 {
    font-size: 3.2rem;
  }
  .banner-main {
    height: 80vh;
  }
}

@media screen and (max-width: 650px) {
  .banner-container h1 {
    font-size: 3rem;
    line-height: 67px;
  }
  .banner-main {
    height: 70vh;
  }
}

@media screen and (max-width: 600px) {
  .banner-main {
    display: none;
  }
}
